{% extends "master.html" %}

{% load static %}

    {% block title %}
        DocConverter
    {% endblock %}
    {% block content-section %}

        <div class="content-section">
            <a href="docTopdf">
                <div class="card rotate-in-2-ccw">
                    <img src="../static/img/pdf.svg">
                    <div class="container">
                        <h4><b>DOC to PDF</b></h4>
                        <p>Convert doc to a pdf format</p>
                    </div>
                </div>
            </a>
            
            <a href="pdfTodoc">
                <div class="card rotate-in-2-ccw">
                    <img src="../static/img/doc.svg" alt="Avatar">
                    <div class="container">
                        <h4><b>PDF to DOC</b></h4>
                        <p>Convert pdf to a doc format</p>
                    </div>
                </div>
            </a>
            
            <a href="jpgtopdf">
                <div class="card rotate-in-2-ccw">
                    <img src="../static/img/pdf.svg" alt="Avatar">
                    <div class="container">
                        <h4><b>JPG to PDF</b></h4>
                        <p>Convert jpg to a pdf format</p>
                    </div>
                </div>
            </a>
            
            <a href="pdftojpg">
                <div class="card rotate-in-2-ccw">
                    <img src="../static/img/jpg.svg" alt="Avatar">
                    <div class="container">
                        <h4><b>PDF to JPG</b></h4>
                        <p>Convert pdf to a jpg format</p>
                    </div>
                </div>
            </a>
        </div>
        
    {% endblock%}
